<h1 class="text-center text-primary text-3xl py-2">Login</h1>
<br>
<form (ngSubmit)="sendLogin()" [formGroup]="loginForm" class="space-y-8">
  <div>
    <div class="relative">
      <input
        #nameInput
        formControlName="user"
        placeholder="Ingrese usuario"
        type="text"
        class="input input-primary w-full rounded bg-transparent border-success border"
      >
    </div>
    <div *ngIf="user?.touched && user?.invalid">
      <p *ngIf="user?.hasError('required')" class="font-medium text-error text-xs mt-1 ml-1">Este campo es obligatorio</p>
    </div>
  </div>
  <div>
    <div class="relative">
      <input
        placeholder="Ingrese password"
        formControlName="password"
        [type]="showPassword ? 'text' : 'password'"
        class="input input-primary w-full rounded bg-transparent border-success border"
      >
      <button type="button" class="p-2 absolute rigth-2" (click)="showPassword = !showPassword">
      </button>
    </div>
    <div *ngIf="password?.touched && password?.invalid">
      <p *ngIf="password?.hasError('required')" class="font-medium text-error text-xs mt-1 ml-1">Este campo es obligatorio</p>
    </div>
  </div>
  <div>
    <button class="btn btn-primary w-full rounded hover:bg-info text-slate-900 disabled:bg-info text-lg disabled:text-slate-700" type="submit" [disabled]="!loginForm.valid">
      Entrar
    </button>
  </div>
</form>
